<h1>Iniciar sesion</h1>

<form action="/api/sessions/login" method="post">
    Email: <input type="text" name="email"> <br>
    Contraseña: <input type="text" name="password"> <br> <br>
    <input type="submit" value="Iniciar Sesion"> | <a href="/session/github">Ingresar con  GitHub</a> <br>
     <a href="/forget-password">Olvidé mi contraseña</a>

</form>