<div>
    <h2>Bienvenido {{first_name}} </h2>
</div>
<div>
    <ul>
        <li> Nombre: {{first_name}}</li>
        <li> Apellido:{{last_name}}</li>
        <li>Rol:{{role}}</li>
    </ul>
</div>
<div>
    <a href="/products"> Productos </a>| <a href="/api/sessions/logout"> Cerrar sesión</a></div>
</div>