<h1>Registrarse</h1>

<form action="api/sessions/register" method="post">
    Nombre: <input type="text" name="first_name"> <br>
    Apellido: <input type="text" name="last_name"> <br>
    Email: <input type="text" name="email"> <br>
    Edad: <input type="text" name="age"> <br>
    Contraseña: <input type="password" name="password"> <br> <br>

    <input type="submit" value="Crear"> |  <a href="/"> Login </a>


</form>