<body class="bodyRealTimeProducts">


  <div class="container mt-5">
    <h1 class="main-title">¡Crea un Producto Nuevo!</h1>
    <form>
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" class="form-control custom-input" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea class="form-control custom-input" id="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" step="0.01" class="form-control custom-input" id="price" name="price" required>
      </div>
      <div class="form-group">
        <label for="code">Código:</label>
        <input type="text" class="form-control custom-input" id="code" name="code" required>
      </div>
      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" class="form-control custom-input" id="stock" name="stock" required>
      </div>
      <div class="form-group">
        <label for="category">Categoría:</label>
        <textarea class="form-control custom-input" id="category" name="category" required></textarea>
      </div>

      <button id="createBtn" type="button" class="btn custom-button" onclick="addProduct()">Crear Producto</button>
    </form>
  </div>

  {{#each productsList}}


  <div class="CardItem">
    <div>
      <h2 class="ItemHeader">
        {{this.title}}
      </h2>
    </div>
  
    <div>
      <p className="Info">
        {{description}}</p>

    </div>
    <div>
      <p className="Info">
        Precio: {{this.price}}</p>
    </div>
    <button type="button" class="btn custom-button-delete" onclick="deleteProduct('{{this._id}}')">Eliminar
      Producto</button>
  </div>
</body>


{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
